<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,153}</string>
                <key>spriteSourceSize</key>
                <string>{156,153}</string>
                <key>textureRect</key>
                <string>{{0,0},{156,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{156,0},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,150}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{0,153},{156,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,14}</string>
                <key>spriteSourceSize</key>
                <string>{76,14}</string>
                <key>textureRect</key>
                <string>{{236,483},{76,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,15}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{312,483},{17,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,15}</string>
                <key>spriteSourceSize</key>
                <string>{25,15}</string>
                <key>textureRect</key>
                <string>{{329,483},{25,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,14}</string>
                <key>spriteSourceSize</key>
                <string>{76,14}</string>
                <key>textureRect</key>
                <string>{{354,483},{76,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,14}</string>
                <key>spriteSourceSize</key>
                <string>{76,14}</string>
                <key>textureRect</key>
                <string>{{430,483},{76,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{0,639},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{14,639},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,13}</string>
                <key>spriteSourceSize</key>
                <string>{23,13}</string>
                <key>textureRect</key>
                <string>{{27,639},{23,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,12}</string>
                <key>spriteSourceSize</key>
                <string>{19,12}</string>
                <key>textureRect</key>
                <string>{{50,639},{19,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,12}</string>
                <key>spriteSourceSize</key>
                <string>{19,12}</string>
                <key>textureRect</key>
                <string>{{69,639},{19,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{156,153},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{21,12}</string>
                <key>textureRect</key>
                <string>{{88,639},{21,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{21,12}</string>
                <key>textureRect</key>
                <string>{{109,639},{21,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{21,12}</string>
                <key>textureRect</key>
                <string>{{130,639},{21,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{151,639},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{163,639},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{175,639},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,11}</string>
                <key>spriteSourceSize</key>
                <string>{21,11}</string>
                <key>textureRect</key>
                <string>{{187,639},{21,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,11}</string>
                <key>spriteSourceSize</key>
                <string>{19,11}</string>
                <key>textureRect</key>
                <string>{{208,639},{19,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{227,639},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{239,639},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,100}</string>
                <key>spriteSourceSize</key>
                <string>{171,100}</string>
                <key>textureRect</key>
                <string>{{304,153},{171,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,11}</string>
                <key>spriteSourceSize</key>
                <string>{13,11}</string>
                <key>textureRect</key>
                <string>{{251,639},{13,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{264,639},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{276,639},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,100}</string>
                <key>spriteSourceSize</key>
                <string>{171,100}</string>
                <key>textureRect</key>
                <string>{{0,303},{171,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,86}</string>
                <key>spriteSourceSize</key>
                <string>{176,86}</string>
                <key>textureRect</key>
                <string>{{171,303},{176,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,80}</string>
                <key>spriteSourceSize</key>
                <string>{156,80}</string>
                <key>textureRect</key>
                <string>{{347,303},{156,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,80}</string>
                <key>textureRect</key>
                <string>{{0,403},{166,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,80}</string>
                <key>spriteSourceSize</key>
                <string>{156,80}</string>
                <key>textureRect</key>
                <string>{{166,403},{156,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,80}</string>
                <key>spriteSourceSize</key>
                <string>{156,80}</string>
                <key>textureRect</key>
                <string>{{322,403},{156,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,80}</string>
                <key>spriteSourceSize</key>
                <string>{156,80}</string>
                <key>textureRect</key>
                <string>{{0,483},{156,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,150}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{312,0},{156,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,156}</string>
                <key>spriteSourceSize</key>
                <string>{80,156}</string>
                <key>textureRect</key>
                <string>{{156,483},{80,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>robotlist.png</string>
            <key>size</key>
            <string>{506,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da469852e8e49ec629b27feda77ee824:9942945ceb395d438481522574eb7a82:ba5a34a748621acf94cabca323743b9e$</string>
            <key>textureFileName</key>
            <string>robotlist.png</string>
        </dict>
    </dict>
</plist>
